# Segmenting and Clustering Neighborhoods in Toronto

In [41]:
import pandas as pd
import numpy as np

## 1.Scraping dataset from the url using pandas

In [90]:
url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df =pd.read_html(url)
df[0].to_csv('toronto.csv')
df =pd.read_csv('toronto.csv')
df.head()

   Unnamed: 0 Postal Code           Borough              Neighbourhood
0           0         M1A      Not assigned               Not assigned
1           1         M2A      Not assigned               Not assigned
2           2         M3A        North York                  Parkwoods
3           3         M4A        North York           Victoria Village
4           4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Droping useless data from the dataset

In [91]:
df.drop('Unnamed: 0',inplace =True, axis =1)
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [92]:
df['Borough'].replace({'Not assigned':np.NaN},inplace =True)
df.dropna(inplace =True)
df= df.reset_index(drop=True)
df

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [94]:
df.shape

(103, 3)

## 2. Adding lat and long for the postal codes in the dataset

In [95]:
!wget -q -O 'Geospatial_data.csv'  https://cocl.us/Geospatial_data

In [101]:
df2 = pd.read_csv('Geospatial_data.csv')
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### we observe that the postal codes for the above datasets are arranged alphabetically.we sort the postal code column for the toronto dataset alphabetically so that postal code becomes the join key for merging the lat and long data into the toronto dataset

In [97]:
df =df.sort_values('Postal Code').reset_index()

In [98]:
df.drop('index',inplace =True,axis =1)

In [99]:
df =pd.merge(df,df2, on ='Postal Code')

In [100]:
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476